.recoverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.recoverForm {
    background-color: #242526;
    width: 400px;
    border-radius: 8px;
    border: 1px solid #393A3B;
    display: flex;
    flex-direction: column;
}

.titleRecoverForm {
    font-size: 20px;
    font-weight: 700;
    margin: 12px auto;
}

.inputRecoverForm {
    margin: 0 16px 12px 16px;
    background: #3A3B3C;
    color: #E4E6EB;
    border: none;
    outline-width: 0;
    height: 40px;
    padding: 0px 16px;
    border-radius: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.inputRecoverForm::placeholder {
    color: #B0B3B8;
}

.buttonRecoverForm {
    height: 35px;
    border: none;
    margin: 0 16px 12px 16px;
    border-radius: 6px;
    background: #2D8834;
    color: #E4E6EB;
    cursor: pointer;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    outline: none;
}

.buttonRecoverForm:hover {
    background: #32A03B;
}

.messageSuccessRecoverForm {
    font-size: 16px;
    margin: 0 auto 12px auto;
    padding: 12px 16px 0px 16px;
}

.messageErrorRecoverForm {
    color: #F02849;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto 12px auto;
    padding: 0px 16px;
}